services:
  postgres:
    command: >
      postgres
      -c max_connections=200
      -c shared_buffers=8GB
      -c effective_cache_size=24GB
      -c work_mem=64MB

  cloudflared:
    container_name: ${CLOUDFLARED_CONTAINER_NAME?CLOUDFLARED_CONTAINER_NAME is required}
    image: cloudflare/cloudflared:latest
    restart: always
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN?CLOUDFLARE_TUNNEL_TOKEN is required}
    command: tunnel run
    networks:
      - default
      - langfuse_net
