@import './tiptap-ui/styles/_variables.scss';
@import './tiptap-ui/styles/_keyframe-animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
