@import './tiptap-ui/styles/_variables.scss';
@import './tiptap-ui/styles/_keyframe-animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* React Split Styles */
.gutter {
    background-color: #e5d6f8;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
